#header{
    /* padding-left: 500px; */
    color: red;
}
body{
    background-color: slategray;
}
#writeup{
    font-size: large;
    /* padding-left: 200px; */
    font-family: 'Times New Roman', Times, serif;
}
 #box{
        box-sizing: content-box;
        width: 50%;
        height: fit-content;
        background-color: rgb(250, 210, 213);
        box-shadow: rgb(26, 140, 179) 2px 2px 2px 2px;
        padding: 3%;
        margin-top: 2%;
    }
    #hbox{
        box-sizing: content-box;
        width: 50%;
        height: fit-content;
        background-color: rgb(250, 210, 213);
        box-shadow: rgb(26, 140, 179) 2px 2px 2px 2px;
        padding: 2%;
        margin-left: 2%;
        margin-top: 2%;
    }
    #button, #show{
        background-color: skyblue;
        padding: 1%;
    }
#display, #displays{
    width: 65%;
    height: 0.001%;
}
#height{
   width: 200px;
   height: 20px;
}
#to-m{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}
#entire{
    display: flex;
    /* margin-left: 200px; */
}
@media (max-width:400px){
    #entire{
    display: flex;
    flex-direction: column;
    width: 100%;
    }
    .wrapper{
        margin: auto 0;
    }
    body{
        background-color: white;
    }
}